.vscode/launch.json
.vscode/tasks.json
bin/Debug/net5.0/appsettings.json
bin/Debug/net5.0/CloudFlareDDNS
bin/Debug/net5.0/CloudFlareDDNS.deps.json
bin/Debug/net5.0/CloudFlareDDNS.dll
bin/Debug/net5.0/CloudFlareDDNS.pdb
bin/Debug/net5.0/CloudFlareDDNS.runtimeconfig.dev.json
bin/Debug/net5.0/CloudFlareDDNS.runtimeconfig.json
bin/Debug/net5.0/Flurl.dll
bin/Debug/net5.0/Flurl.Http.dll
bin/Debug/net5.0/Microsoft.Extensions.Configuration.Abstractions.dll
bin/Debug/net5.0/Microsoft.Extensions.Configuration.Binder.dll
bin/Debug/net5.0/Microsoft.Extensions.Configuration.CommandLine.dll
bin/Debug/net5.0/Microsoft.Extensions.Configuration.dll
bin/Debug/net5.0/Microsoft.Extensions.Configuration.EnvironmentVariables.dll
bin/Debug/net5.0/Microsoft.Extensions.Configuration.FileExtensions.dll
bin/Debug/net5.0/Microsoft.Extensions.Configuration.Json.dll
bin/Debug/net5.0/Microsoft.Extensions.FileProviders.Abstractions.dll
bin/Debug/net5.0/Microsoft.Extensions.FileProviders.Physical.dll
bin/Debug/net5.0/Microsoft.Extensions.FileSystemGlobbing.dll
bin/Debug/net5.0/Microsoft.Extensions.Primitives.dll
bin/Debug/net5.0/Newtonsoft.Json.dll
bin/Debug/net5.0/publish/appsettings.json
bin/Debug/net5.0/publish/CloudFlareDDNS
bin/Debug/net5.0/publish/CloudFlareDDNS.deps.json
bin/Debug/net5.0/publish/CloudFlareDDNS.dll
bin/Debug/net5.0/publish/CloudFlareDDNS.pdb
bin/Debug/net5.0/publish/CloudFlareDDNS.runtimeconfig.json
bin/Debug/net5.0/publish/Flurl.dll
bin/Debug/net5.0/publish/Flurl.Http.dll
bin/Debug/net5.0/publish/Microsoft.Extensions.Configuration.Abstractions.dll
bin/Debug/net5.0/publish/Microsoft.Extensions.Configuration.Binder.dll
bin/Debug/net5.0/publish/Microsoft.Extensions.Configuration.CommandLine.dll
bin/Debug/net5.0/publish/Microsoft.Extensions.Configuration.dll
bin/Debug/net5.0/publish/Microsoft.Extensions.Configuration.EnvironmentVariables.dll
bin/Debug/net5.0/publish/Microsoft.Extensions.Configuration.FileExtensions.dll
bin/Debug/net5.0/publish/Microsoft.Extensions.Configuration.Json.dll
bin/Debug/net5.0/publish/Microsoft.Extensions.FileProviders.Abstractions.dll
bin/Debug/net5.0/publish/Microsoft.Extensions.FileProviders.Physical.dll
bin/Debug/net5.0/publish/Microsoft.Extensions.FileSystemGlobbing.dll
bin/Debug/net5.0/publish/Microsoft.Extensions.Primitives.dll
bin/Debug/net5.0/publish/Newtonsoft.Json.dll
bin/Debug/net5.0/publish/publish.tar.gz
bin/Debug/net5.0/ref/CloudFlareDDNS.dll
obj/CloudFlareDDNS.csproj.nuget.dgspec.json
obj/CloudFlareDDNS.csproj.nuget.g.props
obj/CloudFlareDDNS.csproj.nuget.g.targets
obj/project.assets.json
obj/project.nuget.cache
obj/Debug/net5.0/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
obj/Debug/net5.0/apphost
obj/Debug/net5.0/CloudFlareDDNS.AssemblyInfo.cs
obj/Debug/net5.0/CloudFlareDDNS.AssemblyInfoInputs.cache
obj/Debug/net5.0/CloudFlareDDNS.assets.cache
obj/Debug/net5.0/CloudFlareDDNS.csproj.CopyComplete
obj/Debug/net5.0/CloudFlareDDNS.csproj.CoreCompileInputs.cache
obj/Debug/net5.0/CloudFlareDDNS.csproj.FileListAbsolute.txt
obj/Debug/net5.0/CloudFlareDDNS.csprojAssemblyReference.cache
obj/Debug/net5.0/CloudFlareDDNS.dll
obj/Debug/net5.0/CloudFlareDDNS.GeneratedMSBuildEditorConfig.editorconfig
obj/Debug/net5.0/CloudFlareDDNS.genruntimeconfig.cache
obj/Debug/net5.0/CloudFlareDDNS.pdb
obj/Debug/net5.0/PublishOutputs.04a601dd1e.txt
obj/Debug/net5.0/ref/CloudFlareDDNS.dll
